/internal/protogen/** linguist-generated=true -whitespace
/pkg/plugin/architecture/_resources/web/** linguist-generated=true -whitespace
/web/projects/lib-api-gen/src/gen/** linguist-generated=true -whitespace
